/*tradein top section*/
.tradein{min-height: 660px;background-image: url(../images/tradein-bg.jpg);background-repeat: no-repeat;background-position: center 123%;background-attachment: fixed;position: relative;z-index: 2;overflow: hidden;
    &:after{position: absolute;z-index: 2;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(0, 0, 0, 0.32);content: '';}
    .tradein-title{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 3;color: $red;font-weight: bold;font-size: 72px;text-transform: uppercase;}
}
/*/tradein top section*/

/*button*/
.button{background-color: $red;color: white;width: 100%;max-width: 195px;line-height: 31px;padding: 10px 0px;text-align: center;text-decoration: none;display: inline-block;max-height: 50px;font-weight: 300;font-size: 16px;transition:all ease-out .2s;border:none;vertical-align: middle;overflow: hidden;cursor: pointer;
    &:hover{background-color: #E41B1B;}
    &:active{background-color: #921717;position: relative;top: 2px;}

    span{vertical-align: top;line-height: 29px;display: inline-block;}
}

/*header*/
header{position: absolute;width: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.349);z-index: 5;
    a,span{text-decoration: none;color: white;font-size: 12px;
        &:hover{}
    }
    .header_wrap{display: table;width: 100%;}
    .header_item{display: table-cell;vertical-align: middle;
        &.item_1{width: 29%;}
        &.item_2{width: 40%;
            .sub_item_wrap .item_1{
                a{text-decoration: none;
                    &:hover{color: $red;transition:all ease-out .2s;}
                }
            }
            .sub_item_wrap .item_2{height: 70px;cursor: default;
                &:hover{
                    &>span{color: $red;transition:all ease-out .2s;}
                    .icon_head{border-right: 2px solid $red;border-bottom: 2px solid $red;margin-left: 10px;transform: rotate(45deg) translate(0px,-4px);}
                    // .sub_menu{opacity: 1;z-index: 10;visibility: visible;top: 100%;}
                }
            }
        }
        &.item_3{width: 32%;
            .item_1{width: 43%;}
            .item_2{width: 57%;}
            .sub_item_wrap .item_1 a{color: #fff;font-size: 14px;width: 100%;display: inline-block;text-decoration: none;line-height: 16px;
                &:hover{text-decoration: underline;}
            }
        }
    }
    .sub_item_wrap{width: 100%;display: table;}
    .sub_item{display: table-cell;width: 50%;vertical-align: middle;
        &>a,span{text-transform: uppercase;}
        &.item_1{}
        &.item_2{height: 100%;}
    }

    .sub_menu{min-height: 127px;width: 100%;position: absolute;top: 0%;background-color: rgba(0, 0, 0, 0.65);left: 0;z-index: -100;opacity: 0;visibility: hidden;transition:all ease-out .2s;}
    .sub_menu_wrap{text-align: center;padding: 13px 10px 0px;
        a{font-size: 12px;line-height: 14px;text-transform: uppercase;color: #fff;text-decoration: none;text-decoration: none;display: inline-block;;padding-bottom: 10px;margin-right: 18%;
            &:hover,&.active{color: $red;
                span{color: $red;}
                span:not(.sub_menu_item):after{width: 100%;}
            }
        }

        li{display: inline-block;vertical-align: top;width: 24.3%;text-align: left;margin-bottom: 13px;max-width: 236px;
            &:first-child{display: none;}
        }
        .sub_menu_item{display: inline-block;width: 49%;}
        span:not(.sub_menu_item){position: relative;display: inline-block;transition:color ease-out .2s;
            &:after,&:before{content: '';height: 1px;width: 100%;position: absolute;bottom: -10px;left: 0;background-color: #fff;}
            &:after{background-color: $red;width: 0px;transition:width ease-out .2s;}
        }
    }
    .icon_head{display: inline-block;width: 8px;height: 8px;border-right: 2px solid white;border-bottom: 2px solid white;margin-left: 10px;transform: rotate(-45deg) translate(0px, -1px);transform-origin:50% 50%;transition:all ease-out .2s;}
    .mobile_menu{display: none;height: 30px;width: 40px;position: relative;
        &:after,&:before{content: '';position: absolute;background-color: #fff;width: 100%;height: 5px;top: 0;left: 0;transform:translate(0,0) rotate(0deg);transition:all ease .2s;}
        &:before{top: auto;bottom: 0;}
        span{position: absolute;background-color: #fff;width: 100%;height: 5px;top: 12px;left: 0;transform:translate(0,0) rotate(0deg);transition:opacity ease .2s;}
    }
    .header_item.item_2{
        &.active{
            .mobile_menu{
                &:after{transform: translate(0,236%) rotate(45deg)}
                &:before{transform: translate(0,-236%) rotate(-45deg)}
                span{opacity: 0;}
            }
        }
    }
}
/*/header*/

/*call-popup*/
.fancybox-form{
    .fancybox-skin{background-color: #fff;border-radius: 0px;}
    .fancybox-close{top: 0;right: 0;background:none;
        &:after,&:before{content: '';position: absolute;width: 80%;height: 4px;top: 74%;left: 37%;transform: rotate(45deg) translate(-50%,-50%);background-color: $red;}
        &:before{transform: rotate(-45deg) translate(-50%,-50%);top: 20%;left: 44%;}
    }
}
#call-popup{width: 430px;padding: 0px 15px;font-weight: 500;font-size: 18px;color: #000000;text-align: center;
    .contact-form-title{padding-top: 45px;padding-bottom: 40px;}
    .contact-form-item{margin-bottom: 20px;
    }
    .form_row{
        &.error{
            input{background-image: url(../images/validation_yes.png);background-position: 95% center;background-repeat: no-repeat;}
        }
        &.valid{
            input{background-image: url(../images/validation_ok.png);background-position: 95% center;background-repeat: no-repeat;}
        }
    }
    .form_input{
        input{width: 100%;max-width: 255px;height: 50px;line-height: 50px;font-size: 12px;color: #010101;padding: 0px 12px;border:1px solid #000000;
            &::-webkit-input-placeholder {color:#000;text-transform: uppercase;font-size:12px;transition:color 300ms ease;}
            &:-moz-placeholder {color:#000;text-transform: uppercase;font-size:12px;transition:color 300ms ease;}
            &::-moz-placeholder {color:#000;text-transform: uppercase;font-size:12px;transition:color 300ms ease;}
            &:-ms-input-placeholder {color:#000;text-transform: uppercase;font-size:12px;transition:color 300ms ease;}
        }
        .errorText{display: none !important;}
    }
    .contact-submit{max-width: 255px;margin-top: 15px;margin-bottom: 20px;height: 60px;line-height: 60px;padding: 15px 0px;max-height: 60px;line-height: 60px;
         @extend .button;
    }
}

/*/call-popup*/

/* tradein-safe-2 */

.tradein{
    &.tradein-safe-2{text-align: center;background-image:url(../images/tradein-safe-bg-2.jpg);background-position: center 85%;
    }
}
/* /tradein-safe-2 */

/*texter-safe-2*/
.texter-safe-2{
    .text-block p:first-child{margin-bottom: 15px;}
}
/*/texter-safe-2*/

/*tax-wrap*/
#tax{background-image: url(../images/tax-bg.jpg);background-attachment: fixed;background-position: center center;}
.tax-wrap{background-color: rgba(255, 255, 255, 0.7);padding-bottom: 50px;
    .title{margin-bottom: 57px;}
    .tax-row{display: flex; justify-content: space-around; flex-wrap: wrap;}
    .tax-item{max-width: 500px;width: 100%;min-height: 345px;margin-bottom: 50px;}
    .tax-title{width: 100%;height: 70px;line-height: 70px;font-size: 18px;text-transform: uppercase;color: white;background-color: #535d69;padding: 0 10px;text-align: center;margin-bottom: 40px;}
    .tax-item-subwrap{min-height: 388px;margin-bottom: 45px;}
    .tax-text{position: relative;
        &:after{height: 100%;content: '';position: absolute;left: 0;top: -40px;width: 1px;background-color:#535d69; }
    }
    .tax-text-item{padding-left: 60px;margin-bottom: 50px;position: relative;
        &:last-child{margin-bottom: 0;}
        &:after{height: 1px;width: 30px;background-color: #535d69;position: absolute;left: 0;content: '';top: 7px;}
    }
    .tax-button{text-align: center;
        a{color: white;@extend .button;min-width: 335px;}
    }


}
/*/tax-wrap*/

/*gallery-safe-2*/

.gallery-safe-2{background-image: url(../images/gallery-safe-2-bg.jpg);background-attachment: fixed;background-position: center center;}
.gallery-safe-2-wrap{background-color: rgba(255, 255, 255, 0.8);}
