/*tradein top section*/
.tradein{min-height: 660px;background-image: url(../images/tradein-bg.jpg);background-repeat: no-repeat;background-position: center 80%;background-attachment: fixed;position: relative;z-index: 2;overflow: hidden;
    &:after{position: absolute;z-index: 2;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(0, 0, 0, 0.651);content: '';}
    .tradein-title{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 3;color: $red;font-weight: bold;font-size: 72px;text-transform: uppercase;}
}
/*/tradein top section*/

/*button*/
.button{background-color: $red;color: white;width: 100%;max-width: 195px;line-height: 31px;padding: 10px 0px;text-align: center;text-decoration: none;display: inline-block;max-height: 50px;font-weight: 300;font-size: 16px;transition:all ease-out .2s;border:none;vertical-align: middle;overflow: hidden;cursor: pointer;
    &:hover{background-color: #E41B1B;}
    &:active{background-color: #921717;position: relative;top: 2px;}

    span{vertical-align: top;line-height: 26px;display: inline-block;}
}

/*header*/
header{position: absolute;width: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.349);z-index: 5;
    .header_wrap{display: table;width: 100%;}
    .header_item{display: table-cell;vertical-align: middle;
        &.item_1{width: 29%;}
        &.item_2{width: 40%;
            .sub_item_wrap .item_2{height: 70px;}
        }
        &.item_3{width: 32%;
            .item_1{width: 43%;}
            .item_2{width: 57%;}
            .sub_item_wrap .item_1 a{color: #fff;font-size: 14px;width: 100%;display: inline-block;text-decoration: none;
                &:hover{text-decoration: underline;}
            }
        }
    }
    .sub_item_wrap{width: 100%;display: table;}
    .sub_item{display: table-cell;width: 50%;vertical-align: middle;
        &.item_1{}
        &.item_2{height: 100%;}
    }

}
/*/header*/