/* formmap */

	.formmap{position: relative;overflow: hidden;
		.mbox{position: static;}
		.title{border-color:#535d69;position: relative;z-index: 1;padding-top: 25px;}
		.map-wrap{background-color: red;position: absolute;left: 0;top:0;right: 0;bottom: 0;}
		.footer-form{width: calc(100% - 585px);margin-top: -77px;padding-top:137px;position: relative;float: right;
			&:after{content:'';position: absolute;top:0;bottom: 0;left: 0;width: 2000px;background-color: #000;opacity: .85;z-index: 0;}
		}
		.footer-form-text, .footer-form-wrap{position: relative;z-index: 1;}
		.footer-form-text{margin-bottom: 50px;
			.footer-form-text-col{display: inline-block;vertical-align: top;padding: 0 5px;
				&:first-child{width: calc(55% - 3px);}
				&:last-child{width: calc(45% - 3px);}
			}
			.footer-form-text-col-img{display: inline-block;width: 80px;text-align: center;vertical-align: top;font-size: 48px;text-transform:uppercase;color:#c51a1a;font-family: Arial, sans-serif;font-weight: 700;margin-top: -5px;}
			.footer-form-text-main{display: inline-block;width: calc(100% - 85px);vertical-align: top;color:#fff;font-size: 16px;font-weight: 300;line-height: 20px;
				span{font-weight: 400;}
			}
		}
		.footer-form-wrap{padding-left: 40px;
			.footer-form-title{text-align: right;font-size: 18px;color:#fff;font-weight: 400;margin-bottom: 15px;}
			.form_row{margin-bottom: 18px;
				&:after{content: '';display: block;width: 100%;clear:both;height: 0;}
				.form_input{width: 100%;
					&.col_2{width: 50%;float: left;
						&:first-child{padding-right: 15px;}
						&:last-child{padding-left: 15px;}
					}
					input, textarea{background-color: transparent;border:1px solid #fff;width: 100%;font-size: 14px;color:#fff;}
					input{line-height: 45px;height: 45px;font-size: 12px;padding: 0 15px;}
					textarea{padding: 15px;height: 125px;resize:none;}
				}
				&.submit_row{text-align: right;}
			}
		}

	}

/* /formmap */