<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
	<div class="mbox">

		<div class="footer-socials">
			<a href="#" class="footer-social-item">
				<img src="images/soc-1.png" alt="" />
				<img src="images/soc-1-hover.png" alt="" class="soc-hover" />
			</a>
			<a href="#" class="footer-social-item">
				<img src="images/soc-2.png" alt="" />
				<img src="images/soc-2-hover.png" alt="" class="soc-hover" />
			</a>
			<a href="#" class="footer-social-item">
				<img src="images/soc-3.png" alt="" />
				<img src="images/soc-3-hover.png" alt="" class="soc-hover" />
			</a>
			<a href="#" class="footer-social-item">
				<img src="images/soc-4.png" alt="" />
				<img src="images/soc-4-hover.png" alt="" class="soc-hover" />
			</a>
		</div>

		<div class="footer-rights">© 2015 ООО "КомТранс". Все права защищены.</div>

	</div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->

<script>

	var formSur = 'ajax.php';

	var cordX = 55.701576, cordY = 37.610332;
	var markCoordX = 55.701576, markCoordY = 37.603332;

</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
