<section id="gallery-safe" class="gallery-safe-2">
    <div class="gallery-safe-2-wrap">
        <div class="gallery-wrap mbox">
            <div class="title">
                <h2>галерея</h2>
            </div>
            <div class="gallery-content">
                <div class="item">
                    <a href="images/gall1.jpg" rel="gallery1" class="item-bg fancybox"><img src="images/gall1-t.jpg" alt=""></a>
                    <div class="item-title"><span>Погрузчик колесный</span></div>
                </div>
                <div class="item">
                    <a href="images/gall2.jpg" rel="gallery1" class="item-bg fancybox"><img src="images/gall2-t.jpg" alt=""></a>
                    <div class="item-title"><span>Самосвал</span></div>
                </div>
                <div class="item">
                    <a href="images/gall3.jpg" rel="gallery1" class="item-bg fancybox"><img src="images/gall3-t.jpg" alt=""></a>
                    <div class="item-title"><span>Автобетоносмеситель</span></div>
                </div>
                <div class="item">
                    <a href="images/gall4.jpg" rel="gallery1" class="item-bg fancybox"><img src="images/gall4-t.jpg" alt=""></a>
                    <div class="item-title"><span>Гусеничный экскаватор</span></div>
                </div>
                <div class="item">
                    <a href="images/gall5.jpg" rel="gallery1" class="item-bg fancybox"><img src="images/gall5-t.jpg" alt=""></a>
                    <div class="item-title"><span>Экскаватор погрузчик</span></div>
                </div>
                <div class="item">
                    <a href="images/gall6.jpg" rel="gallery1" class="item-bg fancybox"><img src="images/gall6-t.jpg" alt=""></a>
                    <div class="item-title"><span>Грузовик с манипулятором</span></div>
                </div>
            </div>
        </div>
    </div>
</section>