<section id='ourplus'>
    <div class="ourplus-wrap">
        <div class="mbox">
            <div class="title">
                    <h2>Наши преимущества</h2>
                </div>
            <div class="convert">
                <div class="iplus">
                    <img src="images/clock.png" alt="">
                    <div class="subtext-item">Быстрое оформление сделки</div>
                </div>
                <div class="iplus">
                    <img src="images/hand.png" alt="">
                    <div class="subtext-item">Большой выбор техники в наличии на стоянке</div>
                </div>
                <div class="iplus">
                    <img src="images/traktor.png" alt="">
                    <div class="subtext-item">Выгодные условия</div>
                </div>
                <div class="iplus">
                    <img src="images/texter.png" alt="">
                    <div class="subtext-item">Свои оценщики</div>
                </div>
            </div>
        </div>
    </div>
</section>

