<section id='price-safe'>
    <div class="procedure-wrap price-safe-wrap">
        <div class="mbox">
            <div class="convert">
                <div class="title">
                    <h2>Прайс лист</h2>
                </div>
                <div class="table-content">
                    <table>
                        <tr>
                            <th>Тип хранения</th>
                            <th>стоимость</th>
                        </tr>
                        <tr>
                            <td>20 футов</td>
                            <td>30 руб/сутки</td>
                        </tr>
                        <tr>
                            <td>40-45 футов</td>
                            <td>50 руб/сутки</td>
                        </tr>
                        <tr>
                            <td>20 футов</td>
                            <td>30 руб/сутки</td>
                        </tr>
                        <tr>
                            <td>40-45 футов</td>
                            <td>50 руб/сутки</td>
                        </tr>
                    </table>
                    <div class="button"><a href="#">заказать</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

