<section id="price-safe-two" class="price-safe-two">
	<div class="mbox">

		<div class="title">
			<h2>УСЛОВИЯ ОКАЗАНИЯ УСЛУГ</h2>
		</div>

		<div class="price-safe-wrap">
			<div class="price-safe-col">
				<div class="price-safe-img">
					<img src="images/price-safe-img.png" alt="" />
				</div>
				<div class="price-safe-text">Мы отвечаем за въезд и проезд к площадке по территории и не ведем приемку/выдачу груза</div>
			</div>
			<div class="price-safe-col">
				<div class="price-safe-img">
					<img src="images/price-safe-img.png" alt="" />
				</div>
				<div class="price-safe-text">Ограничения по габаритам (ворота, разворот на территории и при въезде)</div>
			</div>
			<div class="price-safe-col">
				<div class="price-safe-img">
					<img src="images/price-safe-img.png" alt="" />
				</div>
				<div class="price-safe-text">Ограничения по трафику: въезд на территорию – 100 руб. за въезд, начиная со второго за месяц (1 раз в мес. бесплатно)</div>
			</div>
			<div class="price-safe-col">
				<div class="price-safe-img">
					<img src="images/price-safe-img.png" alt="" />
				</div>
				<div class="price-safe-text">Запрет по ряду типов груза: сыпучие, жидкие, токсичные, горючие</div>
			</div>
		</div>

	</div>
</section>