<div class="price-safe-two">
	<div class="mbox">

		<title>
			<h2>УСЛОВИЯ ОКАЗАНИЯ УСЛУГ</h2>
		</title>

		<div class="price-safe-wrap">
			<div class="price-safe-col">
				<div class="price-safe-img">
					<img src="images/price-safe-img.png" alt="" />
				</div>
				<div class="price-safe-text"></div>
			</div>
			<div class="price-safe-col">
				<div class="price-safe-img">
					<img src="images/price-safe-img.png" alt="" />
				</div>
				<div class="price-safe-text"></div>
			</div>
			<div class="price-safe-col">
				<div class="price-safe-img">
					<img src="images/price-safe-img.png" alt="" />
				</div>
				<div class="price-safe-text"></div>
			</div>
			<div class="price-safe-col">
				<div class="price-safe-img">
					<img src="images/price-safe-img.png" alt="" />
				</div>
				<div class="price-safe-text"></div>
			</div>
		</div>

	</div>
</div>