<section id='procedure'>
    <div class="procedure-wrap">
        <div class="mbox">
            <div class="convert">
                <div class="title">
                    <h2>Процедура оказания услуги</h2>
                </div>
                <div class="block-inline cfix">
                    <div class="item">
                        <div class="image-in-circle slot-1-img">
                            <div class="numberting" >1</div>
                        </div>
                        <div class="undertext">
                            <p>Вы выбираете технику из нашего каталога</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image-in-circle slot-2-img">
                            <div class="numberting ">2</div>
                        </div>
                        <div class="undertext">
                            <p>Оставляете заявку на сайте с указанием транспортного средства, которое хотите предложить на обмен</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image-in-circle slot-3-img">
                            <div class="numberting ">3</div>
                        </div>
                        <div class="undertext">
                            <p>Мы связываемся с Вами, запрашиваем информацию о Вашей техникеи оцениваем ее стоимость</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image-in-circle slot-4-img">
                            <div class="numberting ">4</div>
                        </div>
                        <div class="undertext">
                            <p>Заключаем договор и оформляем сделку</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

