<section id='tax'>
    <div class="ourplus-wrap tax-wrap">
        <div class="mbox">
            <div class="title">
                <h2>Тарифы</h2>
            </div>
            <div class="tax-row">
                <div class="tax-item">
                    <div class="tax-item-subwrap">
                        <div class="tax-title">Тариф Профессиональный</div>
                        <div class="tax-text">
                            <div class="tax-text-item">Аренду территории площадью от 3 000 м2  и более</div>
                            <div class="tax-text-item">Въезд и выезд транспортных средств круглосуточно</div>
                            <div class="tax-text-item">Техническое сопровождение ТС,регулярный запуск двигателя, зарядка аккумуляторных батарей</div>
                            <div class="tax-text-item">Тоимость одного квадратного метра по данному тарифу составляет 90 рублей/месяц включая НДС 18%</div>
                        </div>
                    </div>
                    <div class="tax-button">
                        <a href="#call-popup" class="fancybox-form"><span>заказать</span></a>
                    </div>
                </div>
                <div class="tax-item">
                    <div class="tax-item-subwrap">
                        <div class="tax-title">ТАРИФ СТАНДАРТНЫЙ</div>
                        <div class="tax-text">
                            <div class="tax-text-item">Аренду территории площадью от 1 000 м2 до 3 000 м2</div>
                            <div class="tax-text-item">Въезд и выезд транспортных средств с 9:00 до 18:00</div>
                            <div class="tax-text-item">Стоимость одного квадратного метра по данному тарифу составляет 110 000 рублей/месяц включая НДС 18%</div>
                        </div>
                    </div>
                    <div class="tax-button">
                        <a href="#call-popup" class="fancybox-form"><span>заказать</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>