<section id='texter'>
    <div class="texter-wrap">
        <div class="mbox">
            <div class="convert-texter texter-safe-2">
                <div class="text-block">
                    <p>Услуга аренды площади на авторынке, предоставляется для хранения грузов и материалов, преимущественно автотранспортного назначения. Предоставляется оговоренная и зафиксированная в договоре и на территории площадь.</p>
                    <p>Предлагаем  следующие виды  тарифов на хранение транспортных средств и специальной техники при аренде площадей на открытой площадке Авторынка. </p>
                </div>
            </div>
        </div>
    </div>
</section>