<section id='texter'>
    <div class="texter-wrap">
        <div class="mbox">
            <div class="convert-texter">
                <div class="text-block">
                    <p>Если у Вас возникла необходимость обменять свое транспортное средство на другое  доплатой, то компания КомТранс готова предоставить свои услуги. У нас всегда в наличии большое количество техники разного предназн ачения. Наши оценщики помогут узнать рыночную стоимость техники, а специалисты отдела продаж произведут професинальное сопровождение сделки с соблюдением всех юридических аспектов.</p>
                </div>
            </div>
        </div>
    </div>
</section>