<section id='texter'>
    <div class="texter-wrap">
        <div class="mbox">
            <div class="convert-texter">
                <div class="text-block">
                    <p>Компания КомТранс предлагает клиентам услугу ответственного хранения Контейнеров всех размеров (от 3х-тонных до 40 футовых), которые находятся на круглосуточно охраняемой территории с пропускным режимом и круглосуточным доступом согласно договору ответственного хранения по гибкой тарифной системе.</p>
                </div>
            </div>
        </div>
    </div>
</section>