@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
	
	/* formmap */

		.formmap{padding-bottom: 300px;
			.mbox{
				&:before{content: '';position: absolute;right:0;top:0;display: block;width: 15px;height: 100%;z-index: 1;}
			}
			.footer-form{width: 100%;padding-top: 110px;
				&:after{left: -15px;}
			}
			.footer-form-text{margin-bottom: 30px;}
			.footer-form-wrap{padding: 0 0 40px 0;
				.form_row{
					.form_input{
						textarea{height: 75px;}
					}
				}
			}
		}

	/* /formmap */

	/* price-safe-2 */

		.price-safe-two{
			.price-safe-img{margin-right: 5px;}
			.price-safe-text{max-width: calc(100% - 70px);}
		}

	/* /price-safe-2 */

}
@media screen and (max-width: 768px){

	/* tradein-safe */

		.tradein{
			&.tradein-safe{
				.tradein-title{white-space: normal;font-size: 42px;}
			}
		}

	/* /tradein-safe */

}
@media screen and (max-width: 767px){

	/* price-safe-2 */

		.price-safe-two{
			.price-safe-text{font-size: 14px;line-height: 20px;}
		}

	/* /price-safe-2 */

}
@media screen and (max-width: 666px){

	/* formmap */

		.formmap{
			.footer-form-text{text-align: center;
				.footer-form-text-col{margin-bottom: 20px;padding: 0;
					&:first-child, &:last-child{max-width: 370px;width: 100%;}
					&:last-child{margin-bottom: 0;}

				}
			}
		}

	/* /formmap */

	/* footer */

		.footer{padding: 15px 0 15px 0;
			.footer-socials, .footer-rights{float: none;text-align: center;}
		}

	/* /footer */

	/* price-safe-2 */

		.price-safe-two{padding-bottom: 50px;padding-top: 90px;
			.price-safe-col{max-width: 450px;}
		}

	/* /price-safe-2 */

}
@media screen and (max-width: 479px){

	/* formmap */

		.formmap{
			.footer-form-wrap{
				.footer-form-title{text-align: center;}
				.form_row{
					.form_input{
						&.col_2{width: 100%;float: none;margin-bottom: 18px;
							&:first-child, &:last-child{padding-right: 0;padding-left: 0;}
						}
					}
					&.submit_row{text-align: center;}
				}
			}
		}

	/* /formmap */

	/* call-popup */

		.call-popup{
			.call-success{font-size: 24px;padding: 15px 10px;
				.call-title{font-size: 30px;}
			}
		}

	/* /call-popup */

	/* tradein-safe */

		.tradein{
			&.tradein-safe{
				.tradein-title{font-size: 34px;
					.tradein-title-small{font-size: 22px;}
				}
			}
		}

	/* /tradein-safe */

}
@media screen and (max-width: 320px){

}